<mat-toolbar color="primary">
  <span>{{title}}</span>
</mat-toolbar>

<div id="todoTaker">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h1>Todo Taker</h1>
        </mat-panel-title>

      </mat-expansion-panel-header>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Todo Title</mat-label>
        <input matInput placeholder="Ex. Take Notes" [(ngModel)] = "todo.title">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Todo Text</mat-label>
        <input matInput placeholder="Ex. ch 1" [(ngModel)] = "todo.text">
      </mat-form-field>

      <button mat-raised-button color="primary" (click) = "addTodo()">Submit</button>

    </mat-expansion-panel>
  </mat-accordion>
</div>

<div id="todoViewer">
  <mat-card id="todocard" *ngFor="let todo of listTodo">{{todo.title}} {{todo.text}}</mat-card>
</div>